body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#question-area {
  background-color: #6994AB;
  border-radius: 12px 12px 0 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#question-area, 
#answers {
  padding: 10px;
}

#question {
  border: 3px solid #004E73;
  background-color: #D1DBE3;
  border-radius: 12px 12px 0 12px;
  padding: 16px;
  color: #004E73;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  flex: 0 1 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#question h2 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

#question .column {
  padding-right: 16px;
  vertical-align: top;
  flex: 0 1 55%;
}

#question .column:first-child {
  border-right: 1px solid #004E73;
  padding-left: 0;
  margin-right: 16px;
  /*
  padding-right: 16px;
  width: 35%;
  */
  flex: 0 1 35%;
}

#question ul {
  margin-bottom: 0;
}

#question ul li {
  padding-bottom: 14px;
}

#answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

#answers > div, 
#question-area > div#drop-zone {
  background-color: white;
  border: 3px solid #004E73;
  border-radius: 8px;  
  min-height: 290px;  
}

#answers > div {
  flex: 0 1 23%;
  margin-right: 1%;
  margin-top: 4%;
}

#question-area > div#drop-zone {
  flex: 0 1 23%;
}

#answers > div h3, 
#question-area > div#drop-zone h3 {
  display: block;
  height: 38px;
  border-radius: 4px;
  padding: 16px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  background-color: #004E73;
  color: white;
}

#answers > div > div, 
#question-area > div#drop-zone > div {
  padding: 20px 16px;
}

#answers > div > div img, 
#question-area > div#drop-zone > div img {
  width: 100%;
  height: auto;
}

.ui-draggable {
  cursor: move;
  /* 
  box-sizing: border-box;
  */
}

.ui-droppable {
  border: 1px dotted green;
}

/* Media Queries for mobile-view */
@media only screen and (max-width: 767px) {
  #question-area {
    display: block;
  }
  
  #question-area > div#drop-zone {
    margin-bottom: 14px;
  }

  #question {
    display: block;
  }

  #question .column {
    width: auto;
    padding-left: 0;
  }

  #question .column:first-child {
    width: auto;
    border-right: none;
    margin-bottom: 16px;
    margin-right: 0;
  }

  #answers {
    display: block;
  }

  #answers > div {
    margin-top: 10%;
  }
}